/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

#sidebar {
    height: 100%;
    /* Tamaño maximo va  a ser toda la pantalla*/
    min-height: 100vh;
    /* ViuwHeight Tamaño minimo es toda la pantalla visible*/
    min-width: 100px;
}